body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 111, 4);
}

.content{
    background-color: white;
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

hr{
    width: 100%;
}
p{
    margin: 0;
}

input{
    border-radius: 10px;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;

}

.output{
    border: 1px solid black;
}

button{
    border: none;
    height: 3rem;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    background-color: rgb(22, 111, 4);
    cursor: pointer;
}

.result, .formula{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}